.songcard {
  font-family: "Montserrat";
  overflow: hidden;
}

.songcard:hover {
  cursor: pointer;
  background-color: rgba(73, 73, 73, 0.848) !important;
}
.card-image {
  margin: 15px 15px 0 15px;
  height: 10rem;
  border-radius: 8px;
  box-shadow: "10px 10px 10px #000000" !important;
}

.card-image-long {
  margin: 15px 15px 0 15px;
  height: 5rem;
  border-radius: 8px;
  box-shadow: "10px 10px 10px #000000" !important;
}

.card-title {
  font-family: "Roboto";
}

.card-text {
  color: rgb(151, 151, 151);
  font-weight: 500;
}

.play-icon {
  visibility: hidden;
  left: 70%;
  top: 55%;
  font-size: 2.7rem;
  transition: all 0.1s linear;
}

.play-icon-long {
  opacity: 0;
  padding-top: 10px;
  font-size: 2.7rem;
  transition: all 0.1s ease;
}

.songcard:hover .play-icon-long {
  opacity: 1;
}

.songcard:hover .play-icon {
  visibility: visible;
  transform: translateY(-55%);
}

@media screen and (max-width: 768px) {
  .play-icon-long {
    visibility: hidden;
  }
}
