.body-container {
  font-family: "Roboto";
}

.navbar-container {
  background-color: black;
}

.nav-color {
  color: rgb(151, 151, 151);
  text-decoration: none;
  font-size: 1.2rem;
  justify-content: center;
}

.nav-color:hover {
  color: white;
  cursor: pointer;
}

.nav-color:active {
  color: white;
}

.active {
  color: white;
}

@media screen and (max-width: 812px) {
  .body-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .navbar-container {
    display: none;
  }
}
