.button-login-social:hover {
  border-color: white;
}

.forgot-pw-text {
  color: white;
}
.login-button-green {
  background-color: #1ed760;
}

.login-button-green:hover {
    background-color: #1ed760;
  transform: scale(1.1);
}

.forgot-pw-text:hover {
  color: #1ed760;
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .login-wrapper {
    width: 100% !important;
  }
}
